@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #121214;
  --color-surfaceHover: #1c1c1f;
  --color-surfaceActive: #242427;
  --color-accent: #a1a1aa;
  --color-accentBright: #f4f4f5;
  --color-textMain: #fafafa;
  --color-textMuted: #71717a;
  --color-textDim: #3f3f46;
}

@layer base {
  body {
    @apply bg-background text-textMain font-sans antialiased;
  }
}
